[2015-02-10 16:34] julien-diener opened #1 "Remove hard coded apikey"
All in the title

[2015-02-10 16:37] julien-diener opened #2 "keep ordering of JSONObject entries"
Based on JSON définition, the order is not supposed to be kept but it would be much better to visualize results.
In order to keep it, the dependency that manage json should not be json-simple

[2015-02-10 16:41] julien-diener commented on #1
Done in commit 6067c7d4c78a744f1a40aaea1d0cc7645f0ef86d

[2015-02-10 16:41] #1 closed

[2015-02-10 16:42] julien-diener opened #3 "Rename project to "annotators""

[2015-02-10 16:42] julien-diener commented on #3
Done in commit fbf9c3b192fb350076437658f100122d10db02b5

[2015-02-10 16:42] #3 closed

[2015-02-10 16:43] julien-diener commented on #2
Json dep replaced by minimal-json in commit e4f6a30e53d1bfaadfc91c1374eac246c2992222

[2015-02-10 16:43] julien-diener commented on #2
still todo remove json-simple dep from pom.xml

[2015-02-10 16:44] julien-diener opened #4 "hierarchy element should be the same given by bioportal"

[2015-02-10 16:45] julien-diener opened #5 "implement score old on mappings"

[2015-02-10 16:45] julien-diener opened #6 "implement cvalue score"

[2015-02-16 16:34] vemonet opened #7 "API Key should not be hard coded in SIFR and IBC annotator"
API Key for SIFR and IBC annotator should not be hardcoded in the code
It should be provided (ideally through HTTP parameters : "Authorization") by the user

[2015-02-16 16:39] VEmonet commented on #7
http://tubo.lirmm.fr:8080/annotators/sifr_annotator?text=cancer
Should not work

And
http://tubo.lirmm.fr:8080/annotators/sifr_annotator?apikey=1de0a270-29c5-4dda-b043-7c3580628cd5&text=cancer
Should work

[2015-02-17 09:02] jonquet commented on #7
Yes the idea is to transfer the parameters in order for the final service provider (either NCBO, IBC or SIFR) to know the user that identified by the service call.

[2015-02-19 15:58] vemonet opened #8 "It is RDF format not RBF !"
You have misspelled the format in the project
It is RDF format (Resource Description Framework) and not RBF format
I have changed it in the develop branch

[2015-02-23 14:33] vemonet opened #9 "RDF format implemented in develop branch"
Conversion to RDF format have been implemented in the develop branch using Soumia's class (JsonToRdf.java)
Some modifications have been done in AbstractAnnotatorServlet.java to add the functionnality and display RDF results
And the getArray() method has been added to JSON.java

Example at:
http://tubo.lirmm.fr:8080/annotators_beta/sifr_annotator?apikey=1de0a270-29c5-4dda-b043-7c3580628cd5&text=can

[2015-02-23 15:02] julien-diener commented on #7
done in 6067c7d4c78a744f1a40aaea1d0cc7645f0ef86d

[2015-02-23 15:02] #7 closed

[2015-02-23 17:08] julien-diener commented on #9
branch merged and code restructured in 0498fda5ebff7f1a59a01c084a9a1f0c23e64899

See: http://tubo.lirmm.fr:8080/annotators/sifr_annotator?apikey=1de0a270-29c5-4dda-b043-7c3580628cd5&text=cancer&max_level=2&format=rdf

[2015-02-23 17:08] #9 closed

[2015-02-23 17:08] julien-diener commented on #8
done in 3d434f85228da13e1736883bea518fa3b1020dd5

[2015-02-23 17:08] #8 closed

[2015-02-24 09:19] julien-diener commented on #4
done in a1944f7abc9303b15d2e7d40ebb44ad38205308b

[2015-02-24 09:19] #4 closed

[2015-02-24 09:38] julien-diener commented on #2
done in 6dca50908a49d76427107c34fb72953755f0f405

[2015-02-24 09:38] #2 closed

[2015-02-26 09:44] vemonet commented on #5
http://tubo.lirmm.fr:8080/annotators/ncbo_annotator_plus?text=Melanoma+is+a+malignant+tumor&apikey=24e03810-54e0-11e0-9d7b-005056aa3316&ontologies=MESH,SNOMEDCT&expand_mappings=true&score=old
Score for mapping should be 7 (not 8).

[2015-02-26 10:02] vemonet commented on #5
http://tubo.lirmm.fr:8080/annotators/ncbo_annotator_plus?text=Melanoma+is+a+malignant+tumor&apikey=24e03810-54e0-11e0-9d7b-005056aa3316&ontologies=MESH,SNOMEDCT&expand_mappings=true&score=old
Some Mappings (in this case 3 of them) don't have a score
For example the mapping annotatedClass with id http://purl.bioontology.org/ontology/SNOMEDCT/20376005 has no score.

[2015-02-26 10:53] julien-diener commented on #5
The score is not computed for mapping (this is the issue actually) but if an annotatedClass appears anywhere else, it will still get some score. Remember that the score of an annotatedClass, where ever it appears, is the sum of all scores it get throughout the whole json doc. So

  - mapping with score 8 (and not 7) only means that they got 8 "points" somewhere else
  - mapping without score means

[2015-02-26 11:46] vemonet commented on #5
Ok, for the score I was just putting what Clément said in his mail in GitHub (more convenient to track issues)

[2015-02-26 11:48] julien-diener commented on #5
You were right, and I answered in order to be clear.

[2015-02-26 13:52] jonquet commented on #5
Just to precise... score 8 should not occur by itself...
It is either 10+7=17 (if the other match has been done with preferred name) or 8+7=15 (if other match has been done with synonym) or something decimal (if other match was a hierachy) but not 8 itself... no ?

[2015-02-27 07:37] julien-diener commented on #5
That's what I meant: where there is 8 currently, it should be 8+7*number-of-appearance-in-mappings. However, mappings are still not implemented. So it's only 8 for now.

[2015-02-27 08:15] julien-diener commented on #5
To end all discussions about how it is supposed to work when the mappings are not implemented, I implemented it.

Could you guys check that this is the expected results (e.g. using the url given above by @vemonet)? So I can close this issue.

[2015-03-13 11:42] #5 closed

[2015-03-13 11:43] julien-diener commented on #6
done in 230918e8b6cdafd151e9dcf2ab3b9c7e3319f2fe

[2015-03-13 11:43] julien-diener opened #10 "implement cvalueH score"

[2015-03-13 14:45] jonquet commented on #6
Ok. je vais tester ca...

[2015-03-16 12:33] julien-diener opened #11 "find a test example for cvalue and cvalueH"
We need to know what scores should be obtained.

[2015-03-16 12:39] julien-diener commented on #6
1. in the link you gave, "cancer du sein" is coming up in the results.
2. but as discussed, the implementation of cvalue is not correct : annotated terms of concept B that have A in their hierarchy, should be counted in cvalue of A

[2015-03-16 16:27] vemonet commented on #6
For the JSON link generated by the GUI : there is no error in the link
It is well generated, well encoding "\n" with "%0A"
But it seems that the Java Servlet is changing those %0A to \n before calling the annotator.

I have made a little change to the "annotators" project in the develop branch
Just adding "replace("\n", "%0A")" when building the URI used to query the annotator :
  URI uri = new UR

[2015-03-17 07:18] jonquet commented on #11
I am working on it. Will write it on the Google doc.
For the moment, seems that the exemple:
http://tubo.lirmm.fr:8080/annotators/sifr_annotator?text=Les%20Plantes%20m%C3%A9dicinales%20sont%20bonnes%20a%20manger.%20Les%20Plantes%20m%C3%A9dicinales%20font%20mal%20aux%20ventres.%20Les%20plantes%20m%C3%A9dicinales%20sont%20des%20types%20de%20plantes&apikey=aa5b0e2c-5a2e-4a01-b3a2-32cf024f3f27&stop_wo

[2015-03-17 10:01] julien-diener commented on #6
I make another issue about the "\n" problem, not to confuse

[2015-03-17 10:02] julien-diener opened #12 "error with URL containing "\n""
example:
http://tubo.lirmm.fr:8080/annotators/sifr_annotator?apikey=1de0a270-29c5-4dda-b043-7c3580628cd5&text=cancer%20du%20sein%20cancer%20du%20sein%20cancer%20du%20sein%20cancer%20du%20sein%20cancer%20cancer%20%0A&max_level=0&ontologies=MSHFRE&score=cvalue

[2015-03-17 10:09] julien-diener commented on #12
done in 3680ff13c047b6c0001fc48932df2f6f7a6366b4

[2015-03-17 10:09] #12 closed

[2015-03-17 13:45] #11 closed

[2015-03-31 15:35] julien-diener commented on #6
cvalue propagation to hierarchy applies also to mapping

[2015-03-31 15:35] julien-diener commented on #10
no hierarchy and no mapping cvalue propagation

[2016-11-17 22:31] jonquet commented on #6
This has been finished in 2015.

[2016-11-17 22:31] #6 closed

[2016-11-17 22:32] jonquet commented on #10
This has been finished in 2015.

[2016-11-17 22:32] #10 closed

[2016-11-17 22:40] jonquet opened #13 "Implement the semantic type expansion"
When using the Annotator and filtering the result by smeantic types, the hiearchy of the semantic network must be used to include all the sub classes (transitive) of the selected semantic types.

For instance, if I select T057
http://bioportal.lirmm.fr/ontologies/STY/?p=classes&conceptid=http%3A%2F%2Fpurl.lirmm.fr%2Fontology%2FSTY%2FT058

then it is equivalent to select:T058, T060, T061, T059

Thi

[2016-11-17 22:46] jonquet commented on #13
Once implemented (@twktheainur looks into this), assign to @vemonet to add the following sentence:
"Selected semantic types are non exclusives (like a OR) and expanded to include their sub types as described by the hierarchy of the UMLS Semantic Network (http://bioportal.lirmm.fr/ontologies/STY)"

[2016-11-17 22:58] jonquet opened #14 "Implement the semantic group expansion"
This feature is similar than #13 except that the semantic group are defined by 👍 https://mor.nlm.nih.gov/pubs/pdf/2003-jbi-ob.pdf
(page 3)
The name and acronyms of the paper must be used to identify the groups.

We need to add a new parameter: &semantic_groups=
that will take acronyms of smeantic groups e.g.,
 &semantic_groups=GENE

This parameter needs to be expanded to the appropriate semantic t

[2016-11-17 23:02] jonquet commented on #14
Once implemented (@twktheainur looks into this), assign to @vemonet to add the following UI pop-up on the right of the "Select UMLS Semantic Types" area:
"Or, Select UMLS Semantic groups"
and in small characters:
"UMLS Smeantic Groups are defined by Bodenreider & McCray 2003 (https://mor.nlm.nih.gov/pubs/pdf/2003-jbi-ob.pdf) as more general groups of semantic types.

[2016-11-18 00:09] jonquet opened #15 "Implement the mapping_ontologies parameter to specify the ontologies to use when mappign semantic expansion is activated"
This task consists of implementing a parameter in the Annotator proxy (this project) that will enable to specify the ontologies to used to expand using the mappings in the case where the &expand_mappings=true  is used.

The idea is that &ontlogies= will always be used to specify the "ontologies to keep in result" which are the ontologie sin which the user do want the final annotations.
However, wh

[2016-11-18 00:15] jonquet opened #16 "Get the annotations in the BRAT format"
This feature will consist in postprocessing the results of the annotators (with the proxy service) to returns the annotations in the BRAT format in plain text.
Mainly, the idea would be to use UMLS CUI as main identifier rather than the actual URIs of classes.

We should add a possible value to the &format=brat parameter.
The code to implement &format=rdf can certainly be reused here.

@twktheainu

[2016-11-18 00:28] jonquet opened #17 "Implement the preprocessing of the text with TreeTager"
This is a sub task of https://github.com/sifrproject/ncbo_annotator/issues/4

This consist in implementif in preprocessing of the data, before calling the annotators to normalize the input text with TreeTager when &normalize_text=true parameter is used.

[2016-11-18 00:39] jonquet opened #18 "Use NegEx/Context to post process the annotations"
This tasks consists in postprocessing the results of the Annotators (with the proxy) in order to apply NegEx/Context (cf emails with Wendy's group and Louise).

This will take the form of a new parameter &negex-context=true

Depending on the annotator being called (NCBO or SIFR) we will need to use the right implementation of NegEx/Context.

Task followed by @amineabdaoui

[2016-11-18 00:42] jonquet opened #19 "Identify the French NegEx/Context trigger terms"
This task is related to #18  and will focus on generating/translating/extracting/finding the trigger terms for French.

A list has been sent by Louise already and see email with Wendy's group?.

Followed by @amineabdaoui

[2016-11-18 08:14] twktheainur commented on #14
@jonquet You may assign this to me, I'll notify you when I am done with the backend implementation. I will then coordinate with @vemonet for him to do the UI and to discuss the particulars of the deployment process

Best

[2016-11-18 22:08] jonquet commented on #13
After checking with @mdorf from NCBO this is actually partially implemented with the &expand_semantic_types_hierarchy=true option.

For instance:
http://services.bioportal.lirmm.fr/annotator/?text=yeux&ontologies=MSHFRE&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&semantic_types=T021&expand_mappings=false&apikey=c34b7653-0639-4946-81af-8ac76fe809dd&&expand_s

[2016-11-18 22:10] jonquet commented on #13
However, there the current implementation is not transitive... i.e., all the childrena are not inclulded.

For instances:
http://services.bioportal.lirmm.fr/annotator/?text=yeux&ontologies=MSHFRE&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&semantic_types=T017&expand_mappings=false&apikey=c34b7653-0639-4946-81af-8ac76fe809dd&&expand_semantic_types_hierarchy=

[2016-11-18 22:23] jonquet commented on #13
See https://jira.bmir.stanford.edu/browse/NCBO-1838 for fix

[2016-11-24 12:03] twktheainur commented on #14
@jonquet @vemonet I implemented a fix for the semantic group expansion and the brat output, initial tests indicate no regression in previous features.
I made the tests locally on my machine without deploying my own ncbo_bioportal but by changing the annotatorURI to that of the lirmm NCBO bioportal and by temporarily commenting out the proxy host extraction.

The modifications to the rest API are t

[2016-11-24 12:03] twktheainur commented on #16
@jonquet @vemonet I implemented a fix for the semantic group expansion and the brat output, initial tests indicate no regression in previous features.
I made the tests locally on my machine without deploying my own ncbo_bioportal but by changing the annotatorURI to that of the lirmm NCBO bioportal and by temporarily commenting out the proxy host extraction.

The modifications to the rest API are t

[2016-11-24 15:03] jonquet commented on #16
Sounds good.

Mid-term the join request with the triple store may certainly be removed.  We have identified with the NCBO team how to populate any ontologies in a portal with CUI/semantic type properties (will comment this in another tracker). Therefore, the annotator itself will do the filtering and return the annotations class either with CUI info direct or if CUI is not included a join with the

[2016-11-24 15:06] jonquet commented on #14
(Sorry did not see the text was repeated from #16 )

 Concerning the semantic group expansion, sounds good. Be sure to use semantic_groups as parameter name. It's a little long, but we have already another parameter group in the API so we need to avoid the confusion.

I would recommend to avoid a dependency if possible and move the code into this project. The code we write to parse the annotators

[2016-11-24 15:58] twktheainur commented on #16
If the CUIs/Groups become available in the output of NCBO bioportal, then it will be fairly trivial to remove the need to query the triple store

As for the dependency, is is a generic querying API for the annotator that I wrote, with a dedicated object model decoupled from the JSON representation. I can integrate this code directly inside the proxy servlet, however it would only make sense if the

[2016-11-24 16:00] twktheainur commented on #14
I have changed the parameter name to semantic_groups.

The dependency doesn't concern the semantic group expansion as it doesn't involve parsing the annotations.

[2016-11-24 16:06] jonquet commented on #16
Access should be ok now. I had created a team Annotator but forgot to put projects in ;)

[2016-11-25 09:45] twktheainur commented on #16
I have an intermediate solution for the dependency, I can make the annotator a multimodule maven project, with one module for the annotator proxy, one module for the generic annotation model and one module for the java client part. This would have the logistical advantages of manipulating a single project on github, while ensuring a sufficient separation between the three aspects

[2016-12-19 11:24] amineabdaoui commented on #18
Three new parameters have been added to the proxy (issues_14_16) to handle the ConText.

For now, only the original English version of ConText is called. We are using the java source code available on: https://github.com/Blulab-Utah/ConText

When the parameter(s) negation=true (or temporality=true or experiencer=true), the corresponding ConText is called for each annotation and added to the annota

[2016-12-19 14:34] jonquet commented on #18
What's the JSON result for temporality ? temporalityContext ?
Ok for JSON only. This is the default format.

So what's the status, of this right now ? deploy locally on your machine ? on stage ?

[2016-12-21 12:53] amineabdaoui commented on #18
Yes, we call it temporalityContext. It may be Recent, Historical or Hypothetical.

We are testing this on our machines by running the servlet locally which may call either the lirmm bioportal annotator or ncbo bioportal annotator and It works well.

Andon modified the structure of the annotators project and created a new branch called "issues_14_16". I am using the models he defined and working on

[2016-12-22 16:53] twktheainur commented on #18
I have written to Vincent to do a deployment on staging, meanwhile you can run the proxy in local mode for simple tests.

In the annotators project:
git pull
git checkout issues_14_16
mvn clean install
cd sifr-bioportal-annotator-proxy/
edit annotatorProxy.properties.sample and put the right URL for the annotator, NCBO bioportal annotator  to test with context
./build_with_local_mode.sh
./run_loca

[2017-01-06 16:01] amineabdaoui commented on #19
I automatically translated the english trigger terms present inside ConText code (355 trigger terms).

First, I used a perl script that queries six online translators (babla, dico_isc_cnrs, sensagent, linguee and wordreference) and computes for each translation the number of online tools returning it. This perl script has been written to translate a sentiment lexicon from english to french. We hav

[2017-01-25 20:41] jonquet opened #20 "Enable Authorization header for apikey token"
It seems we cannot pass the apikey parameter other than via the URL for the annotators using the proxy.

e.g., http://services.bioportal.lirmm.fr/annotator/?text=le mélanome est une mauvaise maladie&ontologies=MSHFRE&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&score=cvalue&apikey=XX
works
but without apikey in the URL it does not.

Is

[2017-01-25 22:09] jonquet commented on #18
Available on stage server for testing on the NCBO Annotator+:

http://services.stageportal.lirmm.fr/ncbo_annotatorplus/?text=the%20patient%20does%20not%20have%20fever&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&negation=true&ontologies=MESH&display_links=false&display_context=false

@twktheainur To deploy also on local annotator on sta

[2017-01-25 22:31] jonquet commented on #14
Testing on stage:

http://services.stageportal.lirmm.fr/ncbo_annotatorplus/?text=the%20patient%20does%20not%20have%20fever&ontologies=MESH&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&semantic_groups=LIVB
returns only patient

http://services.stageportal.lirmm.fr/ncbo_annotatorplus/?text=the%20patient%20does%20not%20have%20fever&ontolog

[2017-01-25 22:43] jonquet commented on #13
@mdorf Any news on this

[2017-01-25 22:56] jonquet commented on #16
What's the status of this right now ?
Can we test the BRAT format ? (at least for the ontolog CUI/TUI information)

The population of CUI in the SIFR BioPortal ontologies is discussed here:
https://github.com/sifrproject/sifr_project_java_ontology_processing/issues/3

[2017-01-25 23:54] mdorf commented on #13
I haven't worked on this yet. The priority at this point is a) Re-designed BP Homepage, b) AllegroGraph, c) CEDAR Enhancements. NCBO-1838 is marked as "Low" priority. Let me know if this needs to be elevated (I'll need to coordinate with John).

[2017-01-26 10:10] twktheainur commented on #20
It should be relatively trivial by copying the headers from one query to the next. I think that's why it doesn't work with the Authorization field at the moment

[2017-01-26 10:14] twktheainur commented on #16
The BRAT output works quite well, you can test it by adding format=brat, it should work on the annotator plus deployed on stage portal. I will also deploy it on /annotator on stage so you may get for French.

Note that this is the BRAT format for the QUAERO corpus evaluation and does not include annotations from context. I haven't yet had the chance of implementing a separate BRAT format for gener

[2017-01-26 10:28] twktheainur commented on #14
@jonquet I have fixed the problem and redeployed on stageportal on ncbo_annotatorplus and annotator

[2017-01-26 10:34] twktheainur commented on #18
@jonquet Done for the deployment on /annotator on stageportal

[2017-01-26 11:44] amineabdaoui commented on #18
Three parameters have been added (_negation_, _temporality_ and _experiencer_). These parameters may take only two values (_true_ or _false_). They define the context of a clinical condition (e.g. _cancer_).

1. When (_negation=true_), the field "_negationContext_" is added to each annotation. It takes three possible values:
**a. Affirmed (default value):** the annotated condition is affirmed (e.g

[2017-01-27 14:21] amineabdaoui commented on #19
A list of french trigger terms has been generated according to the following process:

**1. Automatic Translation:** the english trigger terms have been translated automatically using web translators (Google Translate and six dictionary based translators).

**2. Manual Validation and Enrichment:** a human annotator manually validated and enriched all the automatically obtained entries.

**3. Enric

[2017-01-27 16:56] jonquet commented on #19
I shall close the tracker for now as we will release a first version with this set of trigger terms.
Follow up in #18

[2017-01-27 16:56] #19 closed

[2017-01-30 22:42] jonquet commented on #14
Just a quick question: what happen if a semantic_groups and a semantic_types parameters are given together. In theory:
- If the types are included in the groups, it should be ignored
- If the types are not included in the groups, could we actually address this ?

[2017-01-30 23:06] jonquet commented on #18
Test sur le web service direct, ok:
http://data.stageportal.lirmm.fr/annotator/?text=Le%20patient%20ne%20montre%20aucun%20signe%20de%20fi%C3%A8vre.%20Son%20p%C3%A8re%20a%20d%C3%A9j%C3%A0%20eu%20de%20l%E2%80%99arthrose.%20Il%20a%20des%20ant%C3%A9c%C3%A9dents%20de%20d%C3%A9pression.&ontologies=MSHFRE&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings

[2017-01-30 23:48] jonquet commented on #14
@vemonet In the UI, I propose to use the following translation in French (francais) for the following UMLS Semantic groups:

ACTI	        Activités & Comportements
ANAT	Anatomie
CHEM	Produits chimiques & Médicaments
CONC	Concepts & Idées
DEVI	Dispositifs
DISO	Maladies
GENE	Gènes et Séquences moléculaires
GEOG	Zone géographiques
LIVB	        Êtres vivants
OBJC	Objets
OCCU	Profession
ORGA	Organisati

[2017-01-31 10:45] twktheainur commented on #14
Currently, I expand the semantic types of the groups and add them to the existing semantic_group parameter. So if groups and the types in semantic_types do no overlap, we use the union of the two currently.

I felt at the time it was a sensible solution for this

[2017-01-31 11:30] twktheainur commented on #18
The proxy I deployed used services.bioportal.lirmm.fr as the URL for the annotator, that is the production server proxy annotator. That's why the API key didn't work. I have deployed it again with http://data.stageportal.lirmm.fr/annotator? as the annotator URI. It should solve part of the problem.

We are still investigating the problem with ncbo_annotatorplus, which cannot be explained by this.

[2017-01-31 18:57] jonquet commented on #14
ok
http://services.stageportal.lirmm.fr/ncbo_annotatorplus/?text=the%20patient%20does%20not%20have%20fever&ontologies=MESH&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&semantic_groups=DISO,LIVB
returns now patient and fever

ok
http://services.stageportal.lirmm.fr/annotator/?text=Les%20patients%20ont%20de%20la%20fi%C3%A8vre%20&ontologie

[2017-02-07 18:15] jonquet commented on #18
Sounds good!
Assigning to @vemonet for the UI development.

[2017-02-09 10:20] amineabdaoui commented on #17
Done.
If **lemmatize=true**, I lemmatize the input text using TreeTagger.
The annotator will display the annotations of the lemmatized input text not the original one.

[2017-02-10 21:38] jonquet opened #21 "Les annotators n'acceptent pas les appels en POST"
Il semblerait que les annotator deployés sur services.SOMETHING n'accepte pas les appels en POST, seulement en GET.

Pourtant le service sur data.SOMETHING l'accepte. Je teste sur stage, n’hésitez pas a pousser dessus.

[2017-02-10 22:03] twktheainur commented on #21
@jonquet  Je viens de tester:
curl -X POST http://services.stageportal.lirmm.fr/annotator/\?text\=pharmacocinétique\&longest_only\=false\&exclude_numbers\=false\&whole_word_only\=true\&exclude_synonyms\=false\&expand_mappings\=false\&apikey\=[APIKEY]

La requête est bien POST et ça marche avec les paramètres dans l'URL.
J'imagine que tu parle de passer les paramètres en data dans la requête? Comme

[2017-02-10 22:21] twktheainur commented on #21
This is not a problem with POST. The proxy receives the parameters correctly in POST as well but always queries the ncbo_annotator with GET. However the problem is that when the parameters are received with POST, the encoding of the text is incorrect and no annotations are returned. When I test with cancer:
curl -X POST http://localhost:8082/annotator -d 'text=cancer&longest_only=false&exclude_num

[2017-02-10 22:24] twktheainur commented on #21
If I now pass the encoding properly in the header, the proxy gets the accents properly and I get annotations:

curl -H 'Content-Type: application/x-www-form-urlencoded ; charset=UTF-8' -X POST http://localhost:8082/annotator -d 'text=pharmacocinétique&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&apikey=22522d5c-c4fe-45fc-afc6-d43e2e6131

[2017-02-10 22:56] twktheainur commented on #21
When the encoding is not specified, Java assumes it's UTF-8 when reading the parameters, when it's intact ISO latin1. So the accent is not recognised properly and ncbo_annotator returns no annotations. ncbo_annotator assumes ISO when no encoding is specified and thus it works when querying data directly but not through the proxy as they work with different encodings

[2017-02-11 18:32] jonquet commented on #21
I use DHC on chrome to send my REST queries.

![image](https://cloud.githubusercontent.com/assets/7379183/22856181/99d291d8-f041-11e6-84db-f12588b94ddd.png)

The same call on data.XXX works. Which makes me think this come from the proxy.
But it seems there was a mix of 2 things:
- the API key has to be in the URL. This was reported here: https://github.com/sifrproject/annotators/issues/20
- the en

[2017-02-13 11:30] twktheainur commented on #21
@jonquet The API key problem will be easy to solve, as it only involves copying the headers between the servlet request and the subsequent NCBO annotator request.

For the other problem with the encoding, the fix will require to overhaul the part of the proxy that forwards the request to NCBO annotator to use POST or GET depending on what the annotator proxy received. Currently the proxy always se

[2017-02-17 01:58] jonquet commented on #21
Juste pour info, en faisaint des test pour https://github.com/sifrproject/ncbo_annotator/issues/4 j'ai essayé un appel POST avec "mélanome" qui passe pas. Tandis que l'activation de lemmatize=true fait passer ;)

[2017-02-17 02:05] jonquet commented on #17
Note. I close this one as the feature is not finaly implemented in the proxy (annotators) but in the main ncbo_annotator code.

See sifrproject/ncbo_annotator#4

[2017-02-17 02:05] #17 closed

[2017-02-17 13:17] twktheainur commented on #21
Fixed in commit 4df4e4a on branch issues_14_16. We will merge branch issues_14_16 with master today.

[2017-02-17 16:10] twktheainur commented on #18
@jonquet We pushed the modified UI on stageportal with @vemonet, you can now make demos and test the interface. If it's ok, we can move it to production.

[2017-03-09 17:00] jonquet opened #22 "Problème recensés avec Context/NegEx"
"le patient n'a pas de fièvre" marche
"le patient n'a pas eu de fièvre" marche pas

Code avec derniere version de la liste des triggers terms:
https://gite.lirmm.fr/bioportal/french_context_negex/blob/master/src/main/java/org/context/implementation/ConTextFrench.java

[2017-03-22 09:34] amineabdaoui commented on #22
Ceci est du au fait que **"pas de"** est un de nos trigger termes de négation, par contre **"pas eu de"** ne figure pas pour le moment dans notre liste des trigger termes.
Je vois deux solutions :

1) rajouter **"pas eu de"** comme trigger terme.
2) remplacer **"pas de"** par **"pas "** tout court au risque de voir une baisse de précision. On pourra par la suite rajouter des pseudo trigger termes

[2017-03-22 13:48] jonquet commented on #22
Je voterai plutôt pour 1. Car il faut mieux se dire qu'on améliore la liste avec des ajouts (ce qu'on fera régulièrement), que on baisse la précision en la simplifiant. A faire un chgt manuel régulier autant que ce soit vers le haut.

D'une manière générale il faut réfléchir a l'utilisation des temps (passé) dans les trigger term.
Il y a en a sans doute qq uns de concerner.
On pousse ne prod NegEx

[2017-03-30 16:55] jonquet commented on #22
Discussion avec Andon/Amine sur la temporalitée et l'expression reguiere qui ne marche pas.

[2017-03-30 16:56] #21 closed

[2017-03-30 16:56] #20 closed

[2017-03-30 16:57] jonquet commented on #18
Closed as moved to production end of March. We have to evaluate the results now!

[2017-03-30 16:57] #18 closed

[2017-03-30 17:02] twktheainur commented on #14
Now implemented, tested, added to the UI and pushed in production

[2017-03-30 17:02] #14 closed

[2017-03-31 16:41] amineabdaoui commented on #22
En plus des triggers termes, ConText utilisent plusieurs expressions régulières pour détecter les conditions qui constatées il y a plus de deux semaines. Ces dernières sont alors considérés comme étant "historique".

Il y avait des bugs dans les expressions régulières anglais et donc aussi dans leurs traductions françaises dans notre French ConText.

Les bugs ont été corrigés dans 7les deux commit

[2017-03-31 19:29] jonquet commented on #22
@amineabdaoui
Que pense tu de: " In the past, her mother had a neoplasm" . On matche le bon experiencer mais pas la bonne temporalité sur neoplasm.

[2017-04-01 00:55] jonquet commented on #16
@twktheainur that shall be closed no?

[2017-04-01 12:46] amineabdaoui commented on #22
@jonquet, voici mes retours sur chacun des exemples. ça dépendra si on veut toucher à la liste des trigger termes anglais.

- Dans le premier exemple, on ne matche pas la bonne temporalité car on a pas le trigger terme "in the past". Sur la liste de trigger termes de ConText qu'on a utilisé, je ne trouve que "past history" et "past medical history". Je peux rajouter "in the past" mais je sais pas

[2017-04-06 19:27] jonquet opened #23 "Preprocess text with check spelling component"
I am opening this tracker to follow the task of augmenting the Annotators with a pre-treatment of the input text to correct spelling mistakes.

It seems ASPELL could be one of the best solution to use http://aspell.net/
This would become a "pre" step in the proxy.

[2017-04-06 19:44] jonquet opened #24 "Disambiguation of concepts using semantic types"
Discussion this morning with @AminaANNANE  and @zevio  (cc also @twktheainur ) about the idea of manually assigning semantic similarity within the STY in order to use such similarities to disambiguate annotations with multiples TUIs (and the GUIs).

The idea would consist in looking around an ambiguous annotation to see which pattern to prefer.

For instance,
"Traitement de la douleur des pancréat

[2017-10-05 17:49] jonquet opened #25 "Implementation of scoring threshold within the proxy"
We finally decided to implement threshold filtering feature for scored annotations.

Two annotation filtering mechanisms  will be done:
- an absolute score threshold i.e., Annotators will only return the annotations above a certain given threshold score value
- a normalized score threshold i.e., Annotators will only return the results corresponding to a normalized value between 0 and 100 that indi

[2017-10-05 18:06] jonquet commented on #25
We currently already testing this on stage.

[2017-10-06 11:21] twktheainur commented on #25
@jonquet Please test the feature in the stageportal UI, filtering now works properly from the API and the UI

[2018-03-23 11:47] #25 closed

[2018-03-23 11:47] #16 closed

[2018-03-29 01:07] jonquet commented on #22
Plus recement observé avec Amine: des problèmes sur les possible a verifier e.g., "mélanome pas exclu"

[2018-10-09 19:32] jvendetti opened #26 "Annotation proxy reports 401 error when using HTTP Authorization request headers"
We're working on trying to get the AnnotatorPlus up and running within Stanford's [BioPortal application](http://bioportal.bioontology.org/). Alex set up an [instance of the annotation proxy](http://services.stage.bioontology.org/annotatorplus/) and we've noticed that we get 401 errors if we try to access the /annotatorplus endpoint with an HTTP Authorization request header. Screen shot with parti

[2018-10-09 19:58] twktheainur commented on #26
@jvendetti Which commit and branch did Alex clone from? There is code that should handle this case, but I suspect it may do so only for POST requests.
I am investigating the issue.

[2018-10-09 20:10] twktheainur commented on #26
It's not restricted to POST requests, if there are authorization headers, they should be transferred to the proxy request. That's the case in the master branch anyway. I see that the ncbo_annotatorplus branch is a few commits behind master, where there is an older version of the request forwarding code running. Merging with master may fix it. Once I know which branch this occurs on, I will attempt

[2018-10-09 20:14] jvendetti commented on #26
Thanks @twktheainur. I've asked Alex to get you this information.

[2018-10-09 20:42] alexskr commented on #26
I used ncbo_annotator branch
should we use ncbo_annotatorplus  instead?

[2018-10-09 20:59] twktheainur commented on #26
ncbo_annotator is an old branch that's been last updated in 2015, before my overhaul, which is probably why this issue arose. ncbo_annotatorplus is the one I created during my visit if I remember correctly. That being said, I have since updated the master branch with maven profiles for each of the deployment targets.

So if you get HEAD master and build with mvn install -P ncboannotatorplus, it sh

[2018-10-09 21:01] alexskr commented on #26
that was the issue.  looks like I checked out the wrong branch in my local dev environment.  Things are back in order.

[2018-10-09 21:03] #26 closed

[2018-12-19 14:48] jonquet opened #27 "Activating filtering by semantic group conflicts with filtering with semantic types"
Try annotate:
Le mélanome est un cancer de la peau ou des muqueuses, développé aux dépens des mélanocytes (tumeur mélanocytaire).

With T008 in semanatic types
And DISO in semantic groups

The results are DISO but not T008. WHich means that the semanticType and semanticGroup parameter should be exclusive.

[2019-02-13 13:54] jonquet opened #28 "Upgrade ConText component to latest version"
Creating an issue here to keep track of our developments already started on this topic.
Currently the AnnotatorPlus and SIFR Annotator uses the code:
https://github.com/Blulab-Utah/ConText

And we need to upgrade to :
https://github.com/jianlins/FastContext

[2020-03-25 10:33] jonquet commented on #28
@twktheainur needs the updated rule file to generate everything
@mehdi-mirzapour can you update everyone here ?

[2020-03-26 14:41] twktheainur commented on #28
@jonquet I now obtained the updated rule-file and integrated it in the #newcontext branch and then merged with the stageannotator branch for stage testing before migrating into production. The update also include and experimental support for XML output  feature that was missing compared to NCBO Bioportal.

I am attaching the annotator.war file that needs to be deployed on stageportal, the attachme

[2020-03-27 16:07] jonquet commented on #28
Deployment on staging done. @mehdi-mirzapour Can you evaluate results?

[2021-05-26 13:16] jonquet opened #34 "Les apostrophes font planter FastContext"
Reported by Leonardo:

Si on coche l'option "FastContext" l'annotateur a du mal avec des entités contenant des contractions. Voici deux phrases qui font ressortir le problème :

- Alors qu'il n'avait pas de troubles mictionnels anciens, il a présenté un épisode de rétention aiguë d’urine.
- Un trocart de 10mm pour l'optique, au niveau de l'ombilic.

Si je mets ça dans le site je reçois un "Problem

[2021-12-22 04:54] syphax-bouazzouni opened #39 "Updating LIRMM annotator plus old dependencies"
# Updating LIRMM annotator plus

- [x] https://github.com/ontoportal-lirmm/annotators/pull/37
- [x] https://github.com/ontoportal-lirmm/annotators/pull/38
- [x] https://github.com/ontoportal-lirmm/annotators/pull/35
- [x] https://github.com/ontoportal-lirmm/annotators/pull/33
- [x] https://github.com/ontoportal-lirmm/annotators/pull/32
- [x] https://github.com/ontoportal-lirmm/annotators/pull/31
-

[2021-12-22 10:31] #39 closed

[2022-02-24 15:48] syphax-bouazzouni opened #41 "Log4j exploit in the annotators"
Todo  : https://github.com/ontoportal-lirmm/annotators/pull/40

[2022-03-30 03:53] syphax-bouazzouni opened #42 "The annotations score is not display in the annotator"
The annotation scores is a feature added in our version of annotator, and we enable it by adding the request parameters "score=true". But somehow it is no more working
here is an example  of a request: `http://services.agroportal.lirmm.fr/annotator?text=Melanoma%20is%20a%20malignant%20tumor%20of%20melanocytes%20which%20are%20found%20predominantly%20in%20skin%20but%20also%20in%20the%20bowel%20and%2

[2022-03-30 04:05] #41 closed

[2022-03-30 04:08] syphax-bouazzouni opened #43 "There is a need to externize the config file from the code"

[2022-03-30 05:08] syphax-bouazzouni commented on #42
fixed
![image](https://user-images.githubusercontent.com/29259906/160754368-40f272b7-edb9-4bcf-8a66-cc3dfcef64a4.png)

[2022-03-30 05:08] #42 closed

[2022-04-23 20:16] jonquet opened #44 "Problem with NegEx negation"
For example, the two next sentences are essentially very similar (the same semantic meaning) and the only difference is the use of the "large" adjective in the first sentence (this example is extracted from the case CXR1255 in the Chest X-Ray collection from Indiana University):

 No large pleural effusion
 No pleural effusion
In the first case the NCBO Annotator returns an AFFIRMED annotation for

[2022-06-22 21:44] jonquet opened #45 "NCBO Annotator Plus call generates error"
We have an error when calling the proxy to the NCBO Annotator:
(API key needs to be added)

http://services.bioportal.lirmm.fr/ncbo_annotatorplus?text=melanoma%20is%20bad&ontologies=DOID&longest_only=false&exclude_numbers=false&whole_word_only=true&exclude_synonyms=false&expand_mappings=false&fast_context=false&certainty=false&temporality=false&experiencer=false&negation=false&lemmatize=false&scor

[2022-06-22 21:48] jonquet opened #46 "Reproduce NCBO Annotator Plus error on local proxy"
Can we reproduce this error on local proxy for the NCBO Annotator Plus ?

https://services.data.bioontology.org/annotatorplus/?apikey=414a5937-cf2f-4b56-b070-9ff778770027&text=The%2520patient%2520has%2520no%2520sign%2520of%2520melanoma%2520but%2520his%2520father%2520had%2520skin%2520cancer.%2520The%2520epithelial%2520tissue%2520cells%2520show%2520no%2520abnormal%2520activity.&ontologies=HP&longest